<div class="main_login_container">
  <img class="img_login"  src="assets/Login Images/clipboard-stethoscope.jpg" alt="loginImg" />
</div>
      <div class="otp-container">
        <input type="email" [(ngModel)]="email" placeholder="Enter your email" required />

        <div class="Verify_container">
          <button (click)="otpSent ? verifyOtp() : sendOtp()">
            {{ otpSent ? 'Verify OTP' : 'Send OTP' }}
          </button>

          <div class="verifyOtp" *ngIf="otpSent">
            <input type="text" [(ngModel)]="otp" placeholder="Enter OTP" />
          </div>

          <button (click)="cancel()" class="cancel-button">Cancel</button>
        </div>

        <p *ngIf="message">{{ message }}</p>

        <!-- Spinner -->
<div *ngIf="isLoading" class="spinner-overlay">
  <div class="spinner"></div>
</div>


      </div>

