<div class="home-container">
  <div class="head-container" id="home">
    <div class="head-content">
      <div class="head-title">
        Providing Quality <span class="color-1">Healthcare</span> for a
        <span class="color-2">Brighter</span> and
        <span class="color-2">Healthy</span> Future
      </div>
      <div class="content">
        At our hospital, we are dedicated to providing exceptional medical care
        to our patients and their families. Our experienced team of medical
        professionals, cutting-edge technology, and compassionate approach make
        us a leader in the healthcare industry
      </div>
      <div class="book-btn">
        <button id="book-appointment-btn" routerLink="/signup">Book Appointment</button>
      </div>
    </div>
    <div class="head-img">
      <img src="../../../../assets/doctor-bg.png" id="doc-bg" width="400px" />
      <img src="../../../../assets/doctor.png" id="doc-img" width="330px" />
    </div>
  </div>
  <div class="our-results" id="results">
    <div class="title">Our results in numbers</div>
    <div class="results-content">
      <div class="results">
        99<span class="faint-txt">%</span>
        <div class="sub-content">Customer Satisfication</div>
      </div>
      <div class="results">
        15<span class="faint-txt">k</span>
        <div class="sub-content">Online Patitents</div>
      </div>
      <div class="results">
        12<span class="faint-txt">k</span>
        <div class="sub-content">Patitents Recovered</div>
      </div>
      <div class="results">
        240<span class="faint-txt">%</span>
        <div class="sub-content">Company Growth</div>
      </div>
    </div>
    <div class="choose-us-container">
      <div class="choose-us-content">
        <div class="title">You have lots of reasons to choose us</div>
        <div class="content">
          Expert Doctors, Modern Facilities, and care you can trust. We're here
          for you every step of the way.
        </div>
        <div class="btn-container">
          <button id="get-started" routerLink="/signup">Get started</button>
          <button id="talk-to" routerLink="/contactus">Talk to sales</button>
        </div>
      </div>
      <div class="choose-us-img">
        <img src="../../../../assets/choose-us-img.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="our-services" id="services">
    <div class="our-services-content">
      <div class="title">Services we provide</div>
      <div class="content">
        We offer emergency care, diagnostics, surgeries, maternity services, and
        specialty treatments under one roof.
      </div>
    </div>
    <div class="our-services-card">
      <app-our-serivces-card></app-our-serivces-card>
    </div>
  </div>
  <div class="our-team" id="team-members">
    <div class="our-team-content">
      <div class="title">Meet our team members</div>
      <div class="content">
        Meet our expert doctors, dedicated to providing the best care and
        treatment.
      </div>
    </div>
    <div class="our-team">
      <app-our-team-card></app-our-team-card>
    </div>
  </div>
  <div class="testimonial" id="testimonial">
    <div class="testimonial-content">
      <div class="title">Testimonial</div>
      <div class="content">
        Hear from our patients as they share their experiences and how our care
        has impacted their lives.
      </div>
    </div>
    <div class="testmonials">
      <app-testimonial-card></app-testimonial-card>
    </div>
  </div>
</div>
