<div class="signup-container">
  <div class="signup-box">
    <h2 style="color: #00796b;">Book Appointment</h2>

    <form (ngSubmit)="onSubmit()" #appointmentForm="ngForm">

      <div class="form-row">
        <label for="patientName">Patient Name: *</label>
        <input
          type="text"
          id="patientName"
          name="patientName"
          [(ngModel)]="patientAppont.patientName"
          required
        />
      </div>

      <div class="form-row">
        <label for="contactNumber">Contact Number: *</label>
        <input
          type="tel"
          id="contactNumber"
          name="contactNumber"
          [(ngModel)]="patientAppont.contactNumber"
          required
        />
      </div>

      <div class="form-row">
        <label for="age">Age: *</label>
        <input
          type="number"
          id="age"
          name="age"
          [(ngModel)]="patientAppont.age"
          required
        />
      </div>

      <div class="form-row">
        <label for="gender">Gender: *</label>
        <select
          id="gender"
          name="gender"
          [(ngModel)]="patientAppont.gender"
          required
        >
          <option value="" disabled selected>Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <div class="form-row">
        <label for="disease">Disease: *</label>
        <input
          type="text"
          id="disease"
          name="disease"
          [(ngModel)]="patientAppont.disease"
          required
        />
      </div>

      <div class="form-row">
        <label for="selectedDate">Select Date: *</label>
        <input
          type="date"
          id="selectedDate"
          name="selectedDate"
          [(ngModel)]="patientAppont.selectedDate"
          required
        />
      </div>

      <div class="form-row">
        <label for="selectedTime">Select Time: *</label>
        <input
          type="time"
          id="selectedTime"
          name="selectedTime"
          [(ngModel)]="patientAppont.selectedTime"
          required
        />
      </div>

      <div class="form-row">
        <label for="message">Message: *</label>
        <input
          type="text"
          id="message"
          name="message"
          [(ngModel)]="patientAppont.message"
          required
        />
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>
</div>
