<div class="sidebar">
  <ul>
    <li
      [ngClass]="{ active: activeItem === 'Dashboard' }"
      (click)="onItemClick('Dashboard')"
    >
      Dashboard
    </li>
    <li
      [ngClass]="{ active: activeItem === 'Profile' }"
      (click)="onItemClick('Profile')"
    >
      Profile
    </li>
    <li
      [ngClass]="{ active: activeItem === 'Medical History' }"
      (click)="onItemClick('Medical History')"
    >
      Medical History
    </li>
    
    <li
      [ngClass]="{ active: activeItem === 'Patient Reports' }"
      (click)="onItemClick('Patient Reports')"
    >
      Patient Reports
    </li>
    
  </ul>
</div>
